@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{
	font-variant: small-caps;
}

#prologue,
#epilogue{
	margin-top: 3em;
}

#chapter-4 blockquote{
	font-variant: small-caps;
	margin: 1em;
	page-break-inside: avoid;
	text-align: center;
}
